.topBar{
  background-color: red;
  margin-top: 0;
  border-bottom: 4px solid black;
}
#top{
  font-size: 90px;
  color:white;
  text-align: center;
  padding: 50px;
}
.description{
  border:2px solid black;
  height:420px;
  margin-top: 10px;
}
.description h2{
  background-color: red;
  color:white;
  margin:0px;
  padding:10px;
}
.description p{
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}
.customChoice{
  border:2px solid black;
  height:120px;
  margin-top: 10px;
}
.customChoice h2{
  background-color: red;
  color:white;
  margin:0px;
  padding:10px;
}
/*order size buttons*/
#sizeHawian{
  margin-top: 370px;
  margin-left: 10px;
  position: absolute;
}
#sizeJack{
  margin-top: 370px;
  margin-left: 10px;
  position: absolute;
}
#sizeHeart{
  margin-top: 370px;
  margin-left: 10px;
  position: absolute;
}
#sizeChicken{
  margin-top: 370px;
  margin-left: 10px;
  position: absolute;
}
#sizeSteve{
  margin-top: 370px;
  margin-left: 10px;
  position: absolute;
}
#sizeHealth{
  margin-top: 370px;
  margin-left: 10px;
  position: absolute;
}
#redSauce{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#bbq{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#whiteSauce{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#pepperoni{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#italian{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#bacon{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#meatBall{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#jalepeno{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#onion{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#bellPepper{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
#zuchinni{
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}
.orderConformation{
  display:none;
  text-align: center;
}
#pizzasOrdered{
  list-style-type: none;
  font-size: 30px;
  color:red;
}
#listPrices{
  list-style-type: none;
  display:none;
  margin: 20px 0 30px 40%;
  font-size: 20px;
}
#customOrder{
  list-style-type: none;
  font-size: 25px;
  color:red;
}
